﻿@model EBContactManagement.Models.BusinessMeetingAttended

<li>
    @using (Html.BeginCollectionItem("BusinessMeetingAttendeds"))
    {
        <span>
            @Html.HiddenFor(m => m.ID)
        </span>
        <span>
            @Html.EditorFor(m => m.AttendedDate)
            @Html.ValidationMessageFor(m=>m.AttendedDate)
        </span>
        <span>
            <button value="DeleteMeeting" name="DeleteMeeting" id="@Model.ID" class="btn btn-danger btn-sm" title="Delete meeting">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
        </span>
    }
</li>

