﻿@model EBContactManagement.Models.ContactMade


<tr>
    @using (Html.BeginCollectionItem("ContactMades"))
    {
        <td>
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.HouseholdID)
            @Html.DropDownListFor(m => m.ContactTypeID, (IEnumerable<SelectListItem>) ViewBag.ContactTypes,"<Select one>")
        </td>
        <td>
            @Html.EditorFor(m => m.ContactDate)
        </td>
        <td>
            @Html.DropDownListFor(m => m.ContactedByID, (IEnumerable<SelectListItem>) ViewBag.Contacter,"<Select one>")
        </td>
        <td>
            @Html.TextAreaFor(m => m.Notes, new {@class="input-large"})
        </td>
        <td>
            <button value="DeleteContact" name="DeleteContact" id="@Model.ID" class="btn btn-danger btn-sm" title="Delete contact">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
        </td>
    }
</tr>