﻿@model EBContactManagement.Models.HouseHold
@{ var vis = "";}
 
@if (Model.People.Count == 0)
{
    <span id="nopeople">No people</span>
    vis = @"invisible";
}
    <ul id="listPeople" class="list-group list-group-striped @Html.Raw(vis)">
        @foreach (var p in Model.People)
        {
            @Html.Partial("_Person", p)
        }
    </ul>
