﻿@using System.Web.UI.WebControls
@model EBContactManagement.Models.Person


<li class="person list-unstyled">
    @using (Html.BeginCollectionItem("People"))
    {
        <span>
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.HouseHoldID)
            @Html.TextBoxFor(m => m.FirstName,new { placeholder = "First name" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </span>
        <span>
            @Html.TextBoxFor(m => m.LastName,new { placeholder = "Last name" })
            @Html.ValidationMessageFor(m => m.LastName)
        </span>
        <span>
            <button value="DeletePerson" name="DeletePerson" id="@Model.ID" class="btn btn-danger btn-sm" title="Delete person">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
        </span>
        <br/>
        <span>
            @Html.TextBoxFor(m => m.Street, new { placeholder = "Street" })
            @Html.ValidationMessageFor(m => m.Street)
        </span>
        <span>
            @Html.TextBoxFor(m => m.City, new { placeholder = "City" })
            @Html.ValidationMessageFor(m => m.City)
        </span>
        <span>
            @Html.TextBoxFor(m => m.State, new { placeholder = "State" })
            @Html.ValidationMessageFor(m => m.State)
        </span>
        <span>
            @Html.EditorFor(m => m.Zip, new { htmlAttributes = new { placeholder = "Zip" }})
            @Html.ValidationMessageFor(m => m.Zip)
        </span>
        <br/>
        <span>
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { placeholder = "Email",@class="input-large" } })
            @Html.ValidationMessageFor(m => m.Email)
        </span>
        <h5>Phones
            <button type="submit" id="@Model.ID" class="addphone btn btn-primary btn-sm" title="Add Phone" value="@Model.ID" data-containerPrefix="@ViewData.TemplateInfo.HtmlFieldPrefix">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
    </h5>
            <table id="tblPhone_@Model.ID" class="tblphone">
                @foreach (var phone in Model.PersonPhones)
                {

                    @Html.Partial("_Phone", phone)
                }
            </table>
    }
</li>
