﻿@model EBContactManagement.Models.PersonPhone

<tr>
    @using (Html.BeginCollectionItem(ViewData.TemplateInfo.HtmlFieldPrefix + ".PersonPhones"))
    {
        <td>
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.PersonID)
            @Html.TextBoxFor(m => m.PhoneNumber,new {@class="phone"})
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </td>
        <td>
            @Html.DropDownListFor(m => m.Type, (IEnumerable<SelectListItem>) ViewBag.PhoneType, "<Select one>")
            @Html.ValidationMessageFor(m => m.PhoneType)
        </td>
        <td>
            Primary
            @Html.EditorFor(m => m.Primary)
            @Html.ValidationMessageFor(m => m.Primary)
        </td>
        <td>
                <button value="DeletePhone" name="DeletePhone" id="@Model.ID" class="btn btn-danger btn-sm" title="Delete phone">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
        </td>
    }
</tr>
