﻿@model EBContactManagement.Models.WorkDayAttended

<li>
    @using (Html.BeginCollectionItem("WorkDayAttendeds"))
    {
        <span>
            @Html.HiddenFor(m => m.ID)
        </span>
        <span>
            @Html.EditorFor(m => m.AttendedDate)
            @Html.ValidationMessageFor(m => m.AttendedDate)
        </span>
        <span>
            <button value="DeleteWorkday" name="DeleteWorkday" id="@Model.ID" class="btn btn-danger btn-sm" title="Delete work day">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
        </span>
    }
</li>