﻿@model EBContactManagement.Models.HouseHold

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HouseHold</h4>
    <hr />
    <dl class="dl-horizontal">
            @foreach (var p in Model.People)
            {
                <dt>
                    Person
                </dt>
                <dd>
                    @p.LastName
                    &nbsp;
                    @p.FirstName
                </dd>
            }

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProspectDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProspectDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssociateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssociateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssociateGuide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssociateGuide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForumDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForumDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetWith)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetWith)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoveInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoveInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status1.Status1)
        </dt>

            <dd>
                @if (Model.Status != null)
                {
                    @Html.DisplayFor(model => model.Status1.Status1)
                }
            </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
