﻿@model EBContactManagement.Models.HouseHold

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HouseHold</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProspectDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProspectDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssociateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssociateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssociateGuide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssociateGuide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForumDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForumDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetWith)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetWith)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoveInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoveInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status1.Status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status1.Status1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
