﻿@model EBContactManagement.Models.HouseHold

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Household</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <span class="text-danger">@ViewBag.ErrorMessage</span>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <h2>
            People
            <button type="submit" id="addperson" value="AddPerson" class="btn btn-primary" title="Add Person">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </h2>
        @Html.Partial("_People", Model)




        <h2>
            Contacts Made
            <button type="submit" id="addcontact" value="AddContact" class="btn btn-primary" title="Add Contact">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </h2>
        
        @{ var vis = "";} 
        @if (Model.ContactMades.Count == 0)
        {
            <span id="nocontacts">No contacts</span>
            vis=@"invisible";
        }
        <div class="table-responsive">
            <table id="tblContacts" style="clear: both" class="table table-bordered table-condensed @Html.Raw(vis)">
                <thead>
                    <tr>
                        <th>
                            Contact type
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Contacted By
                        </th>
                        <th>
                            Notes
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model.ContactMades)
                    {
                        @Html.Partial("_Contact", c)
                    }
                </tbody>
            </table>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HowHeard, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.HowHeard, new { @class = "form-control input-large" })
                @Html.ValidationMessageFor(model => model.HowHeard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Status, (IEnumerable<SelectListItem>)ViewBag.StatusList, "<Select one>", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProspectDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProspectDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProspectDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InitialContact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InitialContact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InitialContact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssociateDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssociateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AssociateDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssociateGuide, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssociateGuide, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AssociateGuide, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Business Meeting", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <button type="submit" id="addbusinessmeeting" value="AddBusinessMeeting" class="btn btn-primary" title="Add Business Meeting">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <ul id="businessmeetings" class="list-unstyled">
                    @foreach (var meeting in Model.BusinessMeetingAttendeds)
                    {
                        @Html.Partial("_BusinessMeeting", meeting)
                    }
                </ul>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Work Days", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <button type="submit" id="addworkday" value="AddWorkDay" class="btn btn-primary" title="Add Work Day">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <ul id="workdayattendeds" class="list-unstyled">
                    @foreach (var meeting in Model.WorkDayAttendeds)
                    {
                        @Html.Partial("_WorkDayAttended", meeting)
                    }
                </ul>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ForumDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ForumDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ForumDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetWith, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MetWith, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MetWith, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemberDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemberDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MemberDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoveInDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoveInDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoveInDate, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.LastContact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastContact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastContact, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.NextContact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NextContact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NextContact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control input-large" })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/app/edit3.js"></script>
    <script src="~/Scripts/jquery.AreYouSure/jquery.are-you-sure.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
}


<script type="text/javascript">
    var addContactUrl = '@Url.Action("AddContact", "Households")';
    var deleteContactUrl = '@Url.Action("RemoveContact", "Households")';
    var addPersonUrl = '@Url.Action("AddPerson", "Households")';
    var deletePersonUrl = '@Url.Action("RemovePerson", "Households")';
    var addPhoneUrl = '@Url.Action("AddPhone", "Households")';
    var deletePhoneUrl = '@Url.Action("RemovePhone", "Households")';
    var addBusinessMeetingUrl = '@Url.Action("AddBusinessMeeting", "Households")';
    var deleteBusinessMeetingUrl = '@Url.Action("RemoveBusinessMeeting", "Households")';
    var addWorkdayUrl = '@Url.Action("AddWorkday", "Households")';
    var deleteWorkdayUrl = '@Url.Action("RemoveWorkday", "Households")';
    var keepAliveUrl = '@Url.Action("KeepAlive", "Households")';
</script>
