﻿@model List<EBContactManagement.Models.ViewModel.HouseholdListView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="~/Content/jquery.bootgrid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<noscript>
    <p style="color: red">
        This site does not work with javascript disabled. Instructions to enable javascript
        can be found <a href="http://activatejavascript.org" target="_blank">here</a>
    </p>
</noscript>

<div class="row">
    <div class="col-sm-4">
        @Html.ActionLink("Create Prospect", "Create", null, new { @class = "btn btn-primary" })
    </div>


    <div class="col-sm-2">
        <input id="btnMultisort" type="submit" value="Multi Column Sort" class="btn btn-outline-secondary btn-sm"/>
    </div>
    <div class="col-sm-2">
        <input id="btnDown" type="submit" value="Export selected" class="btn btn-outline-secondary btn-sm"/>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#filterDiv" aria-expanded="false" aria-controls="collapseExample">
            Show filter
        </button>
    </div>
</div>
<div class="row">

    <div id="filterDiv" class="collapse col-sm-4 col-sm-offset-8" >
        <div class="card card-body">
            @Html.Label("Status(es)")
            <br/>
            @Html.ListBox("StatusList", (IEnumerable<SelectListItem>) ViewBag.StatusList, new {id = "statuslist"})
            <br/>
            @Html.Label("Start Date:")
            @Html.TextBox("StartDate", "", new {@type = "Date", @id = "txtStartDate"})
            <br/>
            @Html.Label("End Date:")
            @Html.TextBox("EndDate", "", new {@type = "Date", @id = "txtEndDate"})
            <br/>
            <input id="btnFilter" type="submit" value="Apply Filter" class="btn btn-primary btn-sm"/>
        </div>
    </div>

</div>


<div class="text-danger">
    <span id="spnError"></span>
</div>

<table id="tblProspects" class="table table-condensed table-hover table-striped" data-toggle="bootgrid88">
    <thead>
        <tr>
            <th data-column-id="Name">
                Name
            </th>
            <th data-column-id="Status">
                Status
            </th>
            <th data-column-id="ID" data-type="numeric" data-order="desc" data-visible="true" data-width="5em" data-identifier="true">
                ID
            </th>
            <th data-column-id="LastContact" data-converter="date">
                Last Contact
            </th>
            <th data-column-id="link" data-formatter="link" data-sortable="false">Commands</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">
    var exportUrl = '@Url.Action("ExportSelected", "HouseHolds")';
    var downloadUrl = '@Url.Action("DownloadSelected", "HouseHolds")';
    var fetchUrl = '@Url.Action("Fetch","Households")';
</script>


@section Scripts {
    <script src="~/Scripts/jquery.bootgrid.min.js"></script>
    <script src="~/Scripts/jquery.bootgrid.fa.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/app/indexPlus.js"></script>
}