﻿@model List<EBContactManagement.Models.ViewModel.HouseholdListView>

@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

@section css {
    <link href="~/Content/jquery.bootgrid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}


<div class="row">
    <div class="col-xs-2">
        @Html.ActionLink("Create Prospect", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-xs-10 text-right">
        <input id="btnMultisort" type="submit" value="Multi Column Sort" class="btn btn-outline-secondary btn-sm" />
        <input id="btnDown" type="submit" value="Export selected" class="btn btn-outline-secondary btn-sm" />
    </div>
    @*<div id="col-xs-6 clearfix">

            <div id="accordian">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            Filter
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            @Html.ListBox("StatusList", (IEnumerable<SelectListItem>) ViewBag.StatusList, new {id = "statuslist"})
                            <br/>
                            @Html.TextBox("StartDate", "", new {@type = "Date", @id = "txtStartDate"})
                            <br/>
                            @Html.TextBox("EndDate", "", new {@type = "Date", @id = "txtEndDate"})
                            <br/>
                            <input id="btnFilter" type="submit" value="Filter" class="btn btn-outline-secondary btn-sm"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

</div>


<div class="text-danger">
    <span id="spnError"></span>
</div>

<table id="tblProspects" class="table table-condensed table-hover table-striped" data-toggle="bootgrid88">
    <thead>
        <tr>
            <th data-column-id="name">
                Name
            </th>
            <th data-column-id="status">
                Status
            </th>
            <th data-column-id="id" data-type="numeric" data-order="desc" data-visible="true" data-width="5em" data-identifier="true">
                ID
            </th>
            <th data-column-id="lastcontact">
                Last Contact
            </th>
            <th data-column-id="link" data-formatter="link" data-sortable="false">Commands</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastContact, "Date")
    </td>
    <td>

        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>}
    </tbody>
</table>

<script type="text/javascript">
    var exportUrl = '@Url.Action("ExportSelected", "HouseHolds")';
    var downloadUrl = '@Url.Action("DownloadSelected", "HouseHolds")';
</script>


@section Scripts {
    <script src="~/Scripts/jquery.bootgrid.min.js"></script>
    <script src="~/Scripts/jquery.bootgrid.fa.min.js"></script>
    <script src="~/Scripts/app/index5.js"></script>
}